<div class="full-width text-center">
  <h1 class="display-3">Patient </h1>
  <h5>{{result}}</h5>
  <h1 class="display-3">Contacts </h1>
   <h5>{{contact}}</h5>
  <p class="lead"><strong>Have a nice day</strong> </p>
  <hr>
 
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
  </p>
</div>