<form action="/subscribe" method="POST" class="form-signin full-width text-center">
  <h1 class="h3 mb-3 font-weight-normal">Patient Intake Form</h1>
  
  <label for="title" class="sr-only">title</label>
  <input type="text" name="title" class="form-control" placeholder="Title"  autofocus>
  
  <label for="firstName" class="sr-only">firstName</label>
  <input type="text" name="firstName" class="form-control" placeholder="First name" required autofocus>
  
  <label for="middleInitial" class="sr-only">middleInitial</label>
  <input type="text" name="middleInitial" class="form-control" placeholder="Middle initial" autofocus>
 
 
  <label for="lastName" class="sr-only">lastName</label>
  <input type="text" name="lastName" class="form-control" placeholder="Last name" required autofocus>
  
  <label for="phone" class="sr-only">phone</label>
  <input type="text" name="phone" class="form-control" placeholder="Your phone number" required>
   
  <label for="email" class="sr-only">email</label>
  <input type="email" name="email" class="form-control" placeholder="Your email" required>
   
  <label for="sex" class="sr-only">sex</label>
  <input type="text" name="sex" class="form-control" placeholder="Gender" required>
   
   <label for="ssn" class="sr-only">ssn</label>
   <input type="text" name="ssn" class="form-control" placeholder="SSN" required>
    
   <label for="dob" class="sr-only">dob</label>
   <input type="Date" name="dob" class="form-control" placeholder="Date of birth" required>
   
   <label for="street" class="sr-only">street</label>
   <input type="text" name="street" class="form-control" placeholder="Street" required>
   
   <label for="city" class="sr-only">city</label>
   <input type="text" name="city" class="form-control" placeholder="City" required>
   
   <label for="state" class="sr-only">state</label>
   <input type="text" name="state" class="form-control" placeholder="State" required>
   
   <label for="zip" class="sr-only">zip</label>
   <input type="text" name="zip" class="form-control" placeholder="Zip" required>
   
   <label for="insuranceCompany" class="sr-only">insuranceCompany</label>
   <input type="text" name="insuranceCompany" class="form-control" placeholder="Insurance Company" >
   
   <label for="plan" class="sr-only">plan</label>
   <input type="text" name="plan" class="form-control" placeholder="Plan">
   
   <label for="groupNumber" class="sr-only">groupNumber</label>
   <input type="text" name="groupNumber" class="form-control" placeholder="Group number" >
   
   <label for="cardHolder" class="sr-only">cardHolder</label>
   <input type="text" name="cardHolder" class="form-control" placeholder="Card holder" >
   
   <label for="signature" class="sr-only">signature</label>
   <input type="text" name="signature" class="form-control" placeholder="signature" required>
   
   
  <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
 
  <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  
</form>



<form action="/Contact" method="POST" class="form-signin full-width text-center">
  <h1 class="h3 mb-3 font-weight-normal">Add a Contact Form</h1>
  
   <label for="patientId" class="sr-only">patientId</label>
   <input type="text" name="patientId" class="form-control" placeholder="Patient Id" >
  
  <label for="title" class="sr-only">title</label>
  <input type="text" name="title" class="form-control" placeholder="Title"  autofocus>
  
  <label for="firstName" class="sr-only">firstName</label>
  <input type="text" name="firstName" class="form-control" placeholder="First name" required autofocus>
  
  <label for="middleInitial" class="sr-only">middleInitial</label>
  <input type="text" name="middleInitial" class="form-control" placeholder="Middle initial" autofocus>
 
 
  <label for="lastName" class="sr-only">lastName</label>
  <input type="text" name="lastName" class="form-control" placeholder="Last name" required autofocus>
  
  <label for="phone" class="sr-only">phone</label>
  <input type="text" name="phone" class="form-control" placeholder="Contacts phone number" required>
   
  <label for="email" class="sr-only">email</label>
  <input type="email" name="email" class="form-control" placeholder="Contacts email" required>
   
  <label for="sex" class="sr-only">sex</label>
  <input type="text" name="sex" class="form-control" placeholder="Gender" required>
   
   <label for="dob" class="sr-only">dob</label>
   <input type="Date" name="dob" class="form-control" placeholder="Date of birth" required>
   
   <label for="street" class="sr-only">street</label>
   <input type="text" name="street" class="form-control" placeholder="Street" required>
   
   <label for="city" class="sr-only">city</label>
   <input type="text" name="city" class="form-control" placeholder="City" required>
   
   <label for="state" class="sr-only">state</label>
   <input type="text" name="state" class="form-control" placeholder="State" required>
   
   <label for="zip" class="sr-only">zip</label>
   <input type="text" name="zip" class="form-control" placeholder="Zip" required>
   
   <label for="relationToPatient" class="sr-only">relationToPatient</label>
   <input type="text" name="relationToPatient" class="form-control" placeholder="Relation To Patient" >
   
   <label for="type" class="sr-only">type</label>
   <input type="text" name="plan" class="form-control" placeholder="Plan">
   
   <label for="emergencyPriority" class="sr-only">emergencyPriority</label>
   <input type="text" name="emergencyPriority" class="form-control" placeholder="EmergencyPriority" >
   
   <label for="signature" class="sr-only">signature</label>
   <input type="text" name="signature" class="form-control" placeholder="signature">
   
   
  <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
 
</form>
